<div class="center">

<form style="color:#ffffff;" [formGroup]="mainFormGroup">
  <mat-form-field appearance="outline">
    <input class="input" formControlName="x" matInput>
  </mat-form-field>
  +
  <mat-form-field appearance="outline">
    <input formControlName="y" matInput>
  </mat-form-field>
  /
  <mat-form-field appearance="outline">
    <input formControlName="z" matInput>
  </mat-form-field>
  =
  <mat-form-field style="width: 200px;" appearance="outline">
    <input  [value]="result" matInput>
  </mat-form-field>
  <button style="background: grey; margin-left: 15px" mat-button (click)="onSubmit()">run</button>
</form>
</div>
